.section{
    &__title{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        color: #414052;
        text-align: center;
    }
}

.features{
    width: 526px;
    height: 44px;
    background: #F3F3F3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 56px;
    &_active{
        color: #03A5C4 !important;
        background: rgba(3, 165, 196, 0.3);
        border-radius: 15px;
    }
    &__performance{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        padding: 3px 14px;
        width: 250px;
        max-height: 36px;
        display: block;
        text-align: center;
        color: #9F9F9F;
        cursor: pointer;
    }
}