@mixin one-s-animation{

    animation-duration: 1s;
       -webkit-animation: 1s;
       -moz-animation: 1s;
       -o-animation: 1s;
        animation: 1s;

}

@mixin invisible {
    visibility: hidden;
}


.section{
    &__title{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        color: #414052;
        text-align: center;
    }
}

.features{
    width: 526px;
    height: 44px;
    background: #F3F3F3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 56px;
    transition: .5s ease-in-out;
    transition-property: color,background-color,border-color,box-shadow;

    position: relative;

    &_active{
        color: #03A5C4 !important;
        // background: rgba(3, 165, 196, 0.3);
        // border-radius: 15px;

        @include one-s-animation;

        transition: .5s ease-in-out;
    transition-property: color,background-color,border-color,box-shadow;

    }
    &__performance{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        padding: 3px 14px;
        width: 250px;
        max-height: 36px;
        display: block;
        text-align: center;
        color: #9F9F9F;
        cursor: pointer;

        width: 50%;

        @include one-s-animation;

    }
}

.blue{

    // color: #03A5C4 !important;
        background: rgba(3, 165, 196, 0.3);
        border-radius: 15px;
        width: 50%;
        height: 95%;

        position: absolute;

        left: 1%;

        transition: 1s ease;

}

#blue-for{
    width: 30%;
}

.width-38{
    width: 38% !important;
}

.width-27{
    width: 27% !important;
}

.left-mobile{
    left:49%;
}

.left-for-32{
    left: 32%;
}

.left-for-72{
    left: 72%;
}

.right-price-50{
    right: 50% !important;
}

.left-price-35{
    left: 35% !important;
}

.left-price-68{
    left: 68% !important;
}