.comments{
    min-height:545px;;
    &__container{
        width: 100%;

        display: flex;
    }
    &_img{
        width: 48%;
        padding-left: 2%;
    }
    &__title{
        text-align: left;
        margin-top: 110px;
    }

    &__blocks{
        display: flex;
        flex-direction: column;
        height: 450px;
        width: 48%;
        padding-left: 2%;
    }
    &__companies{
        display: flex;
        align-items: center;
        position: relative;
        width: 500px;
    }
    &__icon{
        position: relative;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        cursor: pointer;
    }
    &__line{
        background: #03A5C4;
        width: 50px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 60px;
        transition: 1s ease;
    }
    &__paragraph{
        width: 447px;
        height: 108px;
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #191919;

        margin-top: 40px;

        position: relative;
        img{
            position: absolute;
            top: -40px;
            left: -40px;
        }
    }
    &__author{
        position: relative;
    }
    &__name{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #03A5C4;
        display: block;

        position: absolute;
        top: 10px;
        left: 85px;
    }
    &__position{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #9D9D9D;
        display: block;

        position: absolute;
        left: 85px;
        bottom: 30px;

    }

    &__slider{
        position: relative;
    }

    &__slider-block{
        position: absolute;
        top:0;
        transition: 1s ease-in-out;
    }
}

@media (max-width: 1100px){
    .comments{
        &__icon{
            width: 25%;
        }

        &__line{
            left: 8%;
        }
    }
}

@media (max-width: 992px){
    .comments{
        &__title{
            text-align: center;
            margin-top: 0;
        }
        &__container{
            flex-direction: column;
            align-items: center;
        }

        &__slider{
            height: 400px;
        }

        &_img{
            width: 500px;
            padding-left: 0;
        }
        &__block{
            width: 500px;
            padding-left: 0;
        }

        &__slider-block{
            width: 500px;
        }

        &__companies{
            width: auto;
        }
        &__paragraph{
            font-size: 15px;
            width: 320px;
            margin: auto;
            margin-top: 60px;
        }
        &__author{
            margin-top: 50px;
        }
    }
}

@media (max-width: 576px){
    .comments{
        &__title{
            font-size: 32px;
        }

        &__line{
            width: 30px;
            height: 1.5px;
        }

        &__slider-block{
            width: 300px;
        }

        &__slider{
            height: 350px;
        }

        &__block{
            width: 300px;
        }
        &__companies{
            width: 300px;
            margin: auto;
        }
        &__icon{
            img{
                height: 35px;
            }
        }
        &_img{
            width: 300px;
        }
        &__paragraph{
            height: 135px;
            width: 300px;
            img{
                display: none;
            }
        }
        &__author{
            width: 300px;
            margin: auto;
            margin-top: 50px;
        }
        &__position{
            bottom: 8px;
            font-size: 14px;
        }
    }
}