.comments{
    &__container{
        width: 100%;

        display: flex;
        align-items: center;
    }
    &__img{
        width: 50%;
    }
    &__title{
        text-align: left;
    }
    &__blocks{
        display: flex;
        flex-direction: column;
        height: 450px;
    }
    &__companies{
        display: flex;
        align-items: center;
    }
    &__icon{
        position: relative;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__line{
        background: #03A5C4;
        width: 50px;
        height: 2px;
    }
    &__paragraph{
        width: 447px;
        height: 108px;
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #191919;

        margin-top: 80px;

        position: relative;
        img{
            position: absolute;
            top: -40px;
            left: -40px;
        }
    }
    &__author{
        position: relative;
    }
    &__name{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #03A5C4;
        display: block;

        position: absolute;
        top: 10px;
        left: 85px;
    }
    &__position{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #9D9D9D;
        display: block;

        position: absolute;
        left: 85px;
        bottom: 30px;

    }
}