.hero{

    width: 90%;
    margin: auto;

    &__bg{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    &__title{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: bold;
        font-size: 61.7674px;
        line-height: 74px;
        color: #03A5C4;
        margin-top: 225px;
    }
    &__about{
        width: 461px;
        height: 115px;
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        color: #9796A0;
    }
    &__buttons{
        display: flex;
        width: 368px;
        justify-content: space-between;
    }
    &__btn{
        width: 170px;
        height: 52px;
        background: #000000;
        border-radius: 15px;
        border: none;
        outline: none;
        position: relative;
        font-family: Roboto;

        cursor: pointer;

        img{
            position: absolute;
            left: 11px;
            top: 7px;
        }
    }
    &__download{
        display: block;
        color: #FFFFFF;
        position: absolute;
        top: 10px;
        left: 45px;
        font-size: 11px;
        &_app{
            left: 55px;
        }
    }
    &__company{
        color: #FFFFFF;
        position: absolute;
        bottom: 5px;
        left: 45px;
        font-size: 20px;
        &_app{
            left: 55px;
        }
    }

    &__link{
        cursor: pointer;
    }
}

// .hero__title, .hero__about, .hero__buttons{
//     padding-left: 48px;
// }



@media (max-width: 1200px){
    .hero{
        &__bg{
            width: 800px;
        }
        &__title{
            margin-top: 220px;
        }
    }
}

@media (max-width: 992px){
    @media (max-width: 1200px){
        .hero{
            &__bg{
                width: 600px;
            }
            &__title{
                font-size: 40px;
            }
            &__about{
                font-size: 18px;
                width: 377px;
            }
        }
    }
}

@media (max-width: 768px){
    .hero{
        &__bg{
            width: 400px;
        }
    }
}

@media (max-width: 576px){
    .hero{
        &__bg{
            width: 260px;
            top: -15px;
        }

        &__title{
            text-align: center;
            margin-bottom: 0;

            margin-top: 140px;
        }

        &__about{
            margin: auto;
            font-size: 16px;
            width: 300px;
        }

        &__buttons{
            margin: auto;
            width: 300px;
        }

        &__btn{
            width: 140px;
            height: 40px;

            img{
                left: 9px;
                top: 3px;
            }
        }
        &__download{
            top: 5px;
        }
        &__company{
            font-size: 15px;
        }
    }

    .hero__title, .hero__about, .hero__buttons{
        padding-left: 0px;
    }
}