@media (min-width:992px){
    .menu{
        display: none;
    }
}

.left-0{
    left: 0 !important;
    transition: 1s ease;
}

@media (max-width: 992px){

    .menu{

        left: -100%;
        transition: 1s ease-out;

        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;

        background: #FFFFFF;

        z-index: 2;

        padding-top: 40px;

        &__close{
            width: 36px;
            position: absolute;
            top: 40px;
            right: 15px;
        }

        &__logo{
            position: absolute;
            left: 15px;
            top: 40px;
            width: 36px;
        }

        &__container{
            width: 200px;
            margin: auto;
            height: 320px;

            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 15%;

            justify-content: space-between;
        }

        &__languages{
            width: 65px;
            margin: auto;
        }

        &__link{
            font-family: TT Chocolates;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #000000;

            text-decoration: none;

            text-transform: uppercase;
        }

        &__button{
            background: rgba(77, 209, 230, 0.3);
            border-radius: 15px;

            width: 280px;
        }
    }

}

@media (max-width: 576px){
    .menu{
        &__container{
            margin-top: 45%;
        }
    }
}