.mobile{
    &__phone{
        margin: auto;
        display: block;
        margin-top: 50px;
    }
    &__container{
        display: flex;
        width: 100%;
        margin: auto; 
        position: relative;
        margin-bottom: 70px;
    }
    &__descriptions{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 430px;
        margin-top: 70px;
        justify-content: space-between;
    }
    &__block{
        width: 50%;
        display: flex;
        flex-direction: column;
        height: 200px;
    }
    &__icon{
        box-shadow: 0px 5px 15px rgba(33, 144, 175, 0.25);
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }
    &__label{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #414052;
        width: 225px;
    }
    &__paragraph{
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        color: #9796A0;
        width: 280px;
        margin-bottom: 23px;
    }
    &__img{
        width: 50%;
    }
    &__try{
        width: 270px;
        height: 60px;
        background: rgba(77, 209, 230, 0.3);
        border-radius: 15px;
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #03A5C4;
        text-align: center;

        position: absolute;
        left: 0;
        bottom: 10px;
    }

}

@media (max-width: 1300px){
    .mobile{
        &__container{
            height: 600px;
        }
        &__block{
            width: 48%;
        }
        &__paragraph{
            width: 255px;
        }
        &__img{
            height: 550px;
        }
    }
}

@media (max-width: 1200px){
    .slider{
        &__container{
            height: 620px;
        }
        &__block{
            width: 48%;
        }
        &__paragraph{
            width: 255px;
        }
        &__img{
            width: 500px;
            height: 510px;
            display: block;
        }
    }
}

@media (max-width: 1100px){
    
    .mobile{
        &__container{
            height: 620px;
        }
        &__block{
            width: 48%;
        }
        &__paragraph{
            width: 210px;
            font-size: 14px;
        }
        &__img{
            width: 500px;
            height: 510px;
            display: block;
        }

        &__try{
            width: 240px;
            height: 45px;

            font-size: 33px;

        }
    }
}

@media (max-width: 992px){
    
    .mobile{
        &__container{
            flex-direction: column-reverse;
            height: 990px;
            align-items: center;
        }
        &__try{
            display: none;
        }

        &__descriptions{
            width: 500px;
        }
    }
}

@media (max-width: 576px){
    .mobile{
        &__container{
            height: 780px;
        }
        &__img{
            width: 310px;
            height: 320px;
        }
        &__phone{
            margin-top: 15px;
        }
        &__block{
            width: 50%;
            height: 180px;
        }
        &__descriptions{
            width: 310px;
            margin-top: 25px;
            height: 375px;
        }
        &__label{
            font-size: 16px;
            line-height: 18px;
            width: 100%;
        }
        &__paragraph{
            width: 90%;
            font-size: 9px;
        }
        &__icon{
            width: 45px;
            height: 45px;
        }
    }
}
