.modal{
    width: 100%;
    height: 105vh;

    opacity: 0;
    transition: .5s ease-out;

    z-index: -2;

    top: 0;
    left: 0;

    position: fixed;
    background: rgba(0, 0, 0, 0.2);

    overflow: hidden;
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    &__container{
        width: 390px;
        height: 280px;

        background: #FFFFFF;
        box-shadow: 0px 0px 90px rgba(77, 77, 77, 0.5);
        border-radius: 38px;

        position: relative;

        display: flex;
        flex-direction: column;

        padding-left: 50px;

    }

    &__close{

        cursor: pointer;

        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__title{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 41px;

        color: #242424;
    }

    &__label{
        width: 287px;
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;    

        color: #474747;     
    }

}

.modal-opacity{
    opacity: 1 !important;
    transition: .5s ease-out;
}

.modal-z-index{
    z-index: 5 !important;
}

@media (max-width: 576px){
    .modal{
        &__container{
            width: 315px;
            padding-left: 0;
        }
        &__close{
            right: 15px;
            top: 15px;
        }
        &__title{
            padding-left: 10px;
        }
        &__label{
            padding-left: 10px;
            width: 265px;
        }


    }
}