
@mixin invisible {
    opacity: 0;
    transition: opacity 0.5s;

    animation-duration: 1s;
       -webkit-animation: 1s;
       -moz-animation: 1s;
       -o-animation: 1s;
        animation: 1s;
}

@mixin visible{
    opacity: 1;

    transition: opacity 0.5s;

    animation-duration: 1s;
       -webkit-animation: 1s;
       -moz-animation: 1s;
       -o-animation: 1s;
        animation: 1s;
}


.price{
    background-image: rgba(243, 243, 243, 0);
    &__title{
        transform: rotate(-4deg);
    }
    &__btns{
        margin: auto;
        width: 340px;
        height: 106px;

        display: flex;
        justify-content: space-between;

        align-items: flex-end;
    }
    &__left{
        background: #959FB3;
        border-radius: 13px;
        width: 40%;
        height: 22px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: relative;

        img{
            position: absolute;
            top: -60px;
            right: -30px;

        }
    }

    &__right{
        background: #959FB3;
        border-radius: 13px;
        width: 40%;
        height: 22px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: relative;
    }

    &__invisible{
        @include invisible;
        
    }

    &__visible{
        @include visible;
    }

    &__passive{
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;

        width: 40%;

        display: flex;
        align-items: center;  
        justify-content: center;

        font-family: TT Chocolates;
        font-size: 13px;
        color: #FFFFFF;

        cursor: pointer;

        transition: .5s ease-out;
        transition-property: color,background-color,border-color,box-shadow;

        &_right{
            width:33% !important;
        }

    }
    &__active{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #03A5C4;

        z-index: 2;

        width: 40%;

        display: flex;
        align-items: center;  
        justify-content: center;

        cursor: pointer;

        transition: .5s ease-out;
        transition-property: color,background-color,border-color,box-shadow;   
        &_right{
            width: 33%;
        }
    }



    &__content{
        display: flex;
        justify-content: space-between;
        width: 860px;
        margin: auto;
        margin-top: 40px;
    }
    &__table{

        border: 1px solid rgba($color: #000000, $alpha: .1);

        width: 270px;
        height: 350px;

        background: #FFFFFF;
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 10px;

        transition: .5s ease-in-out;

        &:hover{
            box-shadow: 0px 5px 18px rgba(200, 205, 217, 0.6);
            transition: .5s ease-in-out;
        }
    }
    &__subtitle{
        background: linear-gradient(90deg, #34ABBE 0%, #4DD1E6 100%);
        border-radius: 12px 12px 0px 0px;
        height: 49px;
        width: 100%;
        text-align: center;
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: #FFFFFF;
        margin-top: 0;
        padding-top: 10px;
    }
    &__cost{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #34ABBE;
    }

    &__list{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #9D9D9D;
        list-style-type: none;

        margin-left: -25px;
        padding-left: 0;
        li{
            display: flex;
            align-items: center;
            height: 31px;
        }
        &-icon{
            margin-right: 5px;
        }
    }

    &__button{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        background: rgba(77, 209, 230, 0.3);
        box-shadow: 0px 6px 30px rgba(70, 177, 194, 0.5);
        border-radius: 12px;
        width: 150px;
        height: 40px;
        border: none;
        cursor: pointer;
        span{
            color: #03A5C4;
        }
    }

    &__support{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        color: #9796A0;
        width: 100%;
        display: block;

        margin-top: 30px
    }

    &__pay{
        margin: auto;
        width: 370px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}

.white{
    background: #FFFFFF;
    border-radius: 14px;
    height: 28px;
    position: absolute;
    box-shadow: 0px 5px 18px rgba(200, 205, 217, 0.6);

    transition: .5s ease;
    &_left{
        width: 50%;
        right: 0;
    }
    &_right{
        width: 30%;
        left: 0;
    }
}

@media (max-width: 992px){
    .price{
        &__content{
            width: 730px;
        }
        &__table{
            width: 200px;
            height: 300px;
        }
    }
}

@media (max-width: 768px){
    .price{
        &__btns{
            width: 310px;
        }
        &__content{
            flex-direction: column;
            height: 1100px;
            width: 300px;
            align-items: center;
            justify-content: space-between;
        }
        &__table{
            width: 300px;
            height: 340px;
            box-shadow: 0px 5px 18px rgba(200, 205, 217, 0.6);
            padding-bottom: 0;
        }
        &__pay{
            width: 310px;
        }
        &__banks{
            &_mc{
                width: 38px;
                height: 27px;
            }
            &_vs{
                width: 73px;
                height: 27px;
            }
            &_ynd{
                width: 97px;
                height: 27px;
            }
            &_qw{
                width: 80px;
                height: 27px;
            }
        }
    }
}