.reasons{
    padding-bottom: 40px;
    &__title{
        margin-top: 100px;
        margin-bottom: 75px;
    }
    &__container{
        width: 980px;
        height: 205px;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    &__block{
        height: 205px;
        display: flex;
        flex-direction: column;
        align-items: center;

        transition: 1s ease-in-out;

        span{
            width: 165px;
            text-align: center;
            font-family: TT Chocolates;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #414052;
        }

        &:hover{
            img{
                box-shadow: 0px 15px 18px rgba(200, 205, 217, 0.9);
                transition: .3s ease-in-out;
            }
        }
    }
    &__img{
        margin-bottom: 20px;
        border-radius: 15px;
        transition: .3s ease-in-out;
    }
}