.web{
    &__brouser{
        margin: auto;
        display: block;
        margin-top: 50px;
    }
    &__features{
        width: 600px;
    }
    &__slider{
        width: 100% !important;
    }
    &__container{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        position: relative;
        margin-bottom: 70px;

        &_second{
            flex-direction: row;
        }

    }
    &__descriptions{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 430px;
        margin-top: 70px;
        position: relative;

        &_second{
            padding-left: 2%;
        }

    }
    &__block{
        width: 50%;
        display: flex;
        flex-direction: column;
        height: 250px;
    }
    &__icon{
        box-shadow: 0px 5px 15px rgba(33, 144, 175, 0.25);
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }
    &__label{
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 21px;
        color: #414052;
        width: 225px;
    }
    &__paragraph{
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        color: #9796A0;
        width: 95%;
        margin-bottom: 23px;
    }

    &__med{
        z-index: -1;
    position: absolute;
    width: 50%;
    &_left{
        left: 0;
    }
    &_right{
        right: 0;
        }
    }

    &__img{
        width: 48%;
        max-height: 490px;
        margin-top: 55px;
        &_second{
            width: 48%;
            max-height: 490px;
        }
    }
    &__try{
        width: 270px;
        height: 57px;

        padding-bottom: 3px;
        background: rgba(77, 209, 230, 0.3);
        border-radius: 15px;
        font-family: TT Chocolates;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #03A5C4;
        text-align: center;

        position: absolute;
        left: 0;
        bottom: -120px;

        &_second{
            left: 4%;
        }

    }
}

@media (max-width: 1200px){
    .web{
        &__med{
            top: 50px;
        }
    }
}

@media (max-width: 1100px){
    
    .web{
        &__container{
            height: 620px;
        }
        &__block{
            width: 50%;
        }
        &__paragraph{
            width: 210px;
            font-size: 14px;
        }
        &__img{
            height: 510px;
            display: block;
            max-height: 400px;
            margin-top: 90px;
        }

        &__try{
            width: 240px;
            height: 45px;

            font-size: 33px;

        }
    }
}

@media (max-width: 992px){
    
    .web{
        &__container{
            flex-direction: column-reverse;
            height: 920px;
            align-items: center;
        }
        &__try{
            display: none;
        }

        &__med{
            display: none;
        }


        &__descriptions{
            width: 500px;
        }

        &__paragraph{
            width: 100%;
        }

        &__try{
            display: none;

        }
        &__img{
            width: auto;
            height: 410px;
        }
        
    }
}

@media (max-width: 576px){
    .web{
        &__container{
            height: 660px;
        }


        &__img{
            width: 315px;
            max-height: 235px;
            margin-top: 0;
        }
        &__phone{
            margin-top: 15px;
        }
        &__block{
            width: 50%;
            height: 180px;
        }
        &__descriptions{
            width: 310px;
            margin-top: 25px;
            height: 375px;
        }
        &__label{
            font-size: 16px;
            line-height: 18px;
            width: 100%;
        }
        &__paragraph{
            width: 90%;
            font-size: 9px;
        }
        &__icon{
            width: 45px;
            height: 45px;
        }
    }
}

@media(max-width: 390px){
    .web{
        &__med{
            position: absolute;
            display: block;
            top: 0px;
            width: 320px;
            left: 0%;
        }
    }
}
